<div class="container heading">
    <img class="iconLeft" src="./burger.gif">
    <img class="iconRight" src="./burger.gif">
    <p>Eat-Da-Burger!</p>
</div>
<br>
<br>
<div class="container mainDiv">
    <form>
        <div class="mb-3">
            <label for="input" class="form-label">What burger do you want to eat?</label>
            <input type="input" class="form-control" id="input" aria-describedby="input">
        </div>
    </form>
</div>