.iconLeft {
    float: left;
}

.iconRight {
    float: right;
}

.heading {
    background-color: firebrick;
    padding: 40px;
    text-align: center;
    font-size: 60px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
    font-size: 40px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.mainDiv {
    text-align: center;
}