.iconLeft {
    float: left;
}

.iconRight {
    float: right;
}

.heading {
    background-color: firebrick;
    padding: 80px;
    text-align: center;
    font-size: 60px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
    font-size: 40px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.inputDiv {
    text-align: center;
}

.burgerHeading {
    text-align: center;
    font-size: 40px;
    border: 2px solid;
}

.burgerBox {
    text-align: center;
    font-size: 30px;
    border: 2px solid;
}